{% extends "layout.html" %}
{% block body %}
    <h1>Overview of paper status</h1>
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
            {% include "error_display.html" %}
            <h2>Submitted Papers</h2>
            {% if papers == None %}
                <p>There are no papers to accept.</p>
            {% else %}
            <table class="w3-table">
                <thead class="w3-dark-grey">
                     <tr>
                         <td><h2>Title</h2></td>
                         <td><h2>Abstract</h2></td>
                         <td><h2>Authors</h2></td>
                         <td><h2>Reviewers</h2></td>
                         <td><h2>Scores</h2></td>
                         <td><h2>Status</h2></td>
                     </tr>
                </thead>
                {% for paper in papers %}
                    <tr>
                        <td>{{ paper.title }}</td>
                        <td>{{ paper.abstract }}</td>
                        <td>
                          {% for author in paper.authors %}
                            {{ author.email }} <br>
                          {% endfor %}
                        </td>
                        <td>
                          {% for score in paper.scores %}
                            {{ score.reviewer.email }}<br>
                          {% endfor %}<br>
                          {% if paper.reviewers|length < 1 %}
                            <a href="{{ url_for('set_reviewer', paperID=paper.id)}}">Add reviewers</a></td>
                          {% endif %}
                        </td>
                        <td>{% for score in paper.scores %}
                                {{ score.rating }}<br>
                            {% endfor %}
                        </td>
                        <td>
                          {{ paper.status }} <br>
                          <a href="{{ url_for('set_status', paperID=paper.id)}}">Change status</a>
                      </td>
                    </tr>
                {% endfor %}
            </table>

            {% endif %}
        </div>
{% endblock %}
