{% extends "layout.html" %}
{% block body %}
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <h1>Welcome!</h1>
      {% include "error_display.html" %}
      <p>Hello User {{ current_user.email }}</p>
      <p>Number of submitted or coauthored papers: <strong>{{ submitted_papers|length }}</strong> </p>
      {% if current_user.is_reviewer %}
        <p>Number of papers to review: <strong>{{ review_papers|length }}</strong></p>
      {% endif %}
      <a href="{{url_for('getPapers')}}">Go to the papers page</a>
    </div>
{% endblock %}
