{% extends "layout.html" %}
{% block body %}
    <h1>Welcome!</h1>
    <p>Hello User {{ current_user.id }}</p>
    <p>Eats owners hair then claws head knock over christmas tree, so claws in your leg but cat not kitten around meow or attack dog, run away and pretend to be victim rub face on everything. Who's the baby pelt around the house and up and down stairs chasing phantoms. Toy mouse squeak roll over chase mice cat slap dog in face, or while happily ignoring when being called for chase the pig around the house howl uncontrollably for no reason. </p>
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <h2>Submitted Papers</h2>
        {% if papers == None %}
            <p>You haven't handed in anything</p>
        {% else %}
            {% for paper in papers %}
                <h3>{{ paper.title }}</h3>
                <p>{{ paper.abstract }}</p>
                <p><b>Status: </b>{{ paper.status }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}