<!doctype html>
<title>Peer Review System</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<div class=page>
  <div class="w3-top">
  <div class="w3-bar w3-green w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-green" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('index')}}" class="w3-bar-item w3-button w3-padding-large {% if(url_for('index') == request_path)%} w3-white {% endif %}">Index</a>
    <a href="{{ url_for('paper_submission')}}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white {% if(url_for('paper_submission') == request_path)%} w3-white {% endif %}">Submit Paper</a>
    {% if logged_in and current_user.is_admin %}
      <a href="{{ url_for('roles') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white {% if(url_for('roles') == request_path)%} w3-white {% endif %}">Set Roles</a>
      <a href="{{ url_for('accept_papers') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white {% if(url_for('accept_papers') == request_path)%} w3-white {% endif %}">Overview Papers</a>
    {% endif %}
    {% if current_user.is_reviewer %}
        <a href="{{ url_for('getPapers') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white {% if(url_for('getPapers') == request_path)%} w3-white {% endif %}">Papers</a>
    {% endif %}
    {% if logged_in %}
      <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white {% if(url_for('logout') == request_path)%} w3-white {% endif %}">Logout</a>
    {% endif%}
  </div>
  </div>
    {% if logged_in == false %}
      <header class="w3-container w3-green w3-center" style="padding:128px 16px">
        <h1 class="w3-margin w3-jumbo">Peer Review System</h1>
        <p class="w3-xlarge">Template by w3.css</p>
      </header>
    {% endif %}
    <div class="w3-content">
          {% block body %}{% endblock %}
    </div>
</div>
