{% extends "layout.html" %}
{% block body %}
    <h1>Papers</h1>
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      {% include "error_display.html" %}
      <h2>Your submitted papers</h2>
      <ul>
        {% for submitted_paper in submitted_papers %}
            <li>
              {{ submitted_paper.title}}
              <a href="">Make Changes</a>
            </li>
        {% endfor %}
      </ul>
    </div>
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <h2>Papers to review</h2>
      <ul>
        {% for score in scores %}
            <li>
              {{ score.paper.title}}
              <a href="{{ url_for('getPaperRating', paperID=score.paper.id) }}">Add rating</a>
            </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}
