{% extends "layout.html" %}
{% block body %}
    <h1>Paper Rating</h1>
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
      <h2>{{ paper.title }}</h2>
      <p>{{ paper.abstract }}</p>
      <form action ="{{ url_for('postPaper',paperID=paper.id) }}" method = "POST">
          {{ form.csrf_token }}
          {{ form.rating.label(class_="w3-text-green") }}
          {{ form.rating(class_="w3-input") }}
          <input type="submit" value="submit" class="w3-input"/>
      </form>
    </div>
{% endblock %}
